#PageNotFoundContainer {
    display: flex;
    justify-content: center;
    margin: 50px;
    width: 80%;
    height: 500px;
    background-image: url("../images/404image.jpg");
    background-repeat: no-repeat;
    background-position: center;

  }
  
  #PageNotFoundMessage {
    display: flex;
    border-radius: 2%;
    width: 50%;
    height: 200%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
  }
